<!doctype html>
<html lang="en">

<!-- Head -->
<head>
    <title>VHEALTH</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link href="{{url_for('static', filename='css/Index.css')}}" rel="stylesheet">

</head>
<body>
<div class="wrapper">
  <header class="site-header">
    <nav>
      <a href="/"><strong>VHEALTH</strong></a> |
      <a href="/">Numberology</a>
      <a href="/chat">Chatbot</a>
      <a href="/">About</a>
      <a href="/quizHolland">Holland</a>
      <a href="/quizMBTI">MBTI</a>
    </nav>
  </header>

  <main>
    <div class="home-page">
      <div class="block">
        <h1>I'm chat VHEALTH.</h1>
        <p class="intro">Mental health support websites provide a variety of services and resources, including self-assessment tools, forums, access to mental health professionals, and educational resources on mental health conditions and coping strategies.
          .</p>
        <a href="/" class="button">Get started</a>
      </div>
      <div class="block">
        <img src="./static/image/bg.png" alt="An illustration of me in profile">
      </div>
    </div>
  </main>

  <footer>
    <small>All content &copy; Tong Thuy Vy All rights reserved.</small>
  </footer>
</div>
</body>
</html>

