<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VHEALTH</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link href="{{url_for('static', filename='css/Login.css')}}" rel="stylesheet">
</head>
<body>
<form class="login">
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Login</button>
</form>

</body>
</html>